.body {
  background-color: #5a2e79;
}

.heading {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #f0d765;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  padding-top: 30%;
  text-align: center;
}

.text-block {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .heading {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .div-block {
    padding-top: 40%;
  }
}